<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Application Status Update</title>
  </head>
  <body>
    <h1>Application Accepted</h1>
    <p>
      Dear {{.ApplicantName}},
      <br/>
      <br/>
      {{.BusinessName}} has confirmed your application to their post "{{.PostName}}"!
      You should expect {{.BusinessName}} to reach out to you shortly with follow-up instructions.
      Click <a href="{{.ApplicationLink}}">here</a> for more details on your application.
    </p>
    <p>This is an automated message sent by TestHive{{if .BusinessName}} on behalf of {{.BusinessName}}{{end}}. Please do not respond to this message.</p>
  </body>
</html>
