.App {
  padding-top: 50px;
  display: flex;
}

.Card {
  padding-bottom: 20px;
  width: 600px;
}

.Test-list {
  padding-top: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.Filter-bar {
  padding: 10px;
  background-color: #EDEFF2;
  width: 200px;
  transition: width 0.5s ease;
}

.hover {
  position: fixed;
  top: 50px;
  padding: 10px;
}

.Vert {
  align-content: center;
}

.Flex {
  display: flex;
  align-items: center;
}

.icon-p {
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.align-right {
  justify-content: end;
}

.gap {
  padding-right: 10px;
}

.filterbar.open {
  animation: openFilterbar 0.5s forwards;
}

.filterbar.close {
  animation: closeFilterbar 0.5s forwards;
}

@keyframes openFilterbar {
  from {
    width: 0;
  }

  to {
    width: 200px;
  }
}

@keyframes closeFilterbar {
  from {
    width: 200px;
  }

  to {
    width: 0;
  }
}