.App {
  padding-top: 50px;
  display: flex;
}

.Card {
  padding-bottom: 20px;
  width: 600px;
}

.Posting {
  padding: 70px 300px;
  align-items: center;
}

.Test-list {
  padding-top: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.Filter-bar {
  padding: 10px;
  position: fixed;
  height: calc(100vh - 50px);
  background-color: #EDEFF2;
  width: 200px;
  flex: 0;
  transition: width 0.5s ease;
}

.side-bar {
  position: fixed;
  padding: 10px;
  background-color: #EDEFF2;
  width: 200px;
  flex-shrink: 0;
  height: 100vh;
}

.hover {
  position: fixed;
  top: 50px;
  padding: 10px;
}

.Vert {
  align-content: center;
}

.Flex {
  display: flex;
  align-items: center;
}

.icon-p {
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.align-right {
  justify-content: end;
}

.gap {
  padding-right: 10px;
}

.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p {
  padding: 10px;
}

.content {
  padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  margin-left: 200px;
}

.bp5-form-group>.bp5-label {
  width: 80px;
  /* Adjust the width to your preference */
}

.bp5-input {
  min-width: 300px;
}

.purple {
  background: #7C327C;
  color: white;
}

.honey {
  background: #F0B726;
  color: black;
}